@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'At Amiga';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/AtAmiga-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'ds-Digital';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/ds-digital.TTF') format('truetype');
}
