@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-gray-950: hsla(0, 0%, 5%, 1); /* #0E0E0E */
  --color-gray-900: hsla(0, 0%, 10%, 1); /* #1B1B1B */
  --color-gray-800: hsla(0, 0%, 20%, 1); /* #333333 */
  --color-gray-700: hsla(0, 0%, 30%, 1); /* #4D4D4D */
  --color-gray-600: hsla(0, 0%, 50%, 1); /* #808080 */
  --color-gray-400: hsla(0, 0%, 75%, 1); /* #BEBEBE */
  --color-gray-200: hsla(0, 0%, 89%, 1); /* #E4E4E4 */
  --color-gray-100: hsla(0, 0%, 96%, 1); /* #F6F6F6 */

  --color-accent-700: hsla(24, 100%, 50%, 1); /* #FF6001 */
  --color-accent-600: hsla(24, 100%, 56%, 1); /* #FF7020 */

  --font-at-amiga: 'At Amiga', sans-serif;
  --font-roboto-mono: 'Roboto Mono', monospace;
  --font-ds-digital: 'ds-Digital', sans-serif;
}

:root {
  --color-gray-950: hsla(0, 0%, 5%, 1); /* #0E0E0E */
  --color-gray-900: hsla(0, 0%, 10%, 1); /* #1B1B1B */
  --color-gray-800: hsla(0, 0%, 20%, 1); /* #333333 */
  --color-gray-700: hsla(0, 0%, 30%, 1); /* #4D4D4D */
  --color-gray-600: hsla(0, 0%, 50%, 1); /* #808080 */
  --color-gray-400: hsla(0, 0%, 75%, 1); /* #BEBEBE */
  --color-gray-200: hsla(0, 0%, 89%, 1); /* #E4E4E4 */
  --color-gray-100: hsla(0, 0%, 96%, 1); /* #F6F6F6 */
  --color-accent-700: hsla(24, 100%, 50%, 1); /* #FF6001 */
  --color-accent-600: hsla(24, 100%, 56%, 1); /* #FF7020 */
}

.dark {
  --color-gray-400: hsla(0, 0%, 20%, 1); /* #333333 */
}
